<div class="navbar">
    <p>IMDbify</p>
</div>

<div class="main-container">
    <div class="imdbify">

        <div class="imdbify--search">
            <input type="text" #search placeholder="Search for movie by name or year...">
        </div>

        <div class="imdbify--dropdown" #movies>
            <ng-container *ngIf="movies$ | async as movies;">
                <ng-container *ngFor="let movie of movies">
                    <app-movie [movie]="movie" (movieId)="onMovieClick($event)"></app-movie>
                </ng-container>
            </ng-container>
            <div *ngIf="!hasMovies" class="no-results">
                No movies found
            </div>  
        </div>

    </div>
</div>